body{
  background-color:#FFD485;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: red;
  font-size:70px;
}
h2{
  padding-left: 40%;
  font-size: 300%;
}
.btn-1{
  background-color: green;
  color: aliceblue;
  font-size: xx-large;
  border-radius:30px;
  height: 60px;
  width: 170px;
  margin-right: 20px;
}
.btn-1:hover{
  background-color:yellowgreen;
}
.btn-2{
  background-color: red;
  color: aliceblue;
  font-size: xx-large;
  margin-right: 20px;
  border-radius:30px;
  border-style:double;
  height: 60px;
  width: 175px;
}
.btn-2:hover{
  background-color:tomato;
}
.btn-3{
  background-color: blue;
  color: aliceblue;
  font-size: xx-large;
  height: 60px;
  width: 170px;

}
.btn-3:hover{
  background-color:aqua;
  color: black;
}
.zero{
  color:blue;
  font-size:xx-large;
  margin-left: 470px;
  margin-top: 70px;
}